* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #7a7a7a;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    /* Float has been removed because there is not need for this bootstrap version. */
    /* float: right; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Class has been removed because it is not needed for the bootstrap grid layout. */
/* .content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    /* Float has been removed because there is not need for this bootstrap version. */
    /* float: right; */
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #a37b0c;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    /* Since we are using bootstrap now for this version of the project instead of float, 
    I was succesfully able to set the height to 100% instead of 300px. 
    This will make the section of the website better at adapting to different screen sizes. */
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #a37b0c;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    /* Since we are using bootstrap now for this version of the project instead of float, 
    I was succesfully able to set the height to 100% instead of 300px. 
    This will make the section of the website better at adapting to different screen sizes. */
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #a37b0c;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    /* Since we are using bootstrap now for this version of the project instead of float, 
    I was succesfully able to set the height to 100% instead of 300px. 
    This will make the section of the website better at adapting to different screen sizes. */
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #a37b0c;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
    /* Added some padding to the right to establish some distance between the pic and the text. */
    padding-right: 5%;
}

.online-reputation-management img {
    height: 200px;
    /* Added some padding to the right to establish some distance between the pic and the text. */
    padding-left: 5%;
}

.social-media-marketing img {
    max-height: 200px;
    /* Added some padding to the right to establish some distance between the pic and the text. */
    padding-right: 5%;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* Like before, this is simply to change the font color to blue. */
.email {
    color: blue;
}

/* Added additional constrains for when the screen is 1150px wide */
@media screen and (max-width: 1150px) {

    /* It seems like bootstrap makes it easier to build websites that adjust to screen size automaticall. 
    At least that is what I personally have observed on this homework assignment. 
    I can't say if that is true due to a lack of experience. 
    But it's easier and more efficient when you are able to set ALL heights as percents instead of px. */

    .hero {
        height: 600px;
    }

    .search-engine-optimization {
        height: 100%;
    }
    
    .online-reputation-management {
        height: 100%;
    }
    
    .social-media-marketing {
        height: 100%;
    }

}

/* Added additional constrains for when the screen is 972px wide */
@media screen and (max-width: 972px) {
    /* This is the screen size where the benefits section jumps to the bottom of the page. 
    I had to do almost the same thing with this using floats. 
    The only difference is I had to adjust the width to 75% because floats are no longer restricting it's size.*/
    .benefits {
        margin-right: 150px;
        padding: 20px;
        height: 100%;
        width: 75%;
    }
}

/* Added additional constrains for when the screen is 888px wide */
@media screen and (max-width: 888px) {
    
    /* Again, no changes were needed for this screen size configuration from using floats. */

    .searchenginetitle {
        width: 50%;
    }

    .onlinereptitle {
        width: 100%;
        /* Only difference is I had to bulk up the padding left to 250 in order 
        to keep the title together on all screen sizes instead of being jumbled around by the picture. */
        padding-left: 250px;
    }
    
    .socialmediatitle {
        width: 50%;
    }
}

/* Added additional constrains for when the screen is 768px wide */
@media screen and (max-width: 768px) {

    /* Again, this screen size configuration is the same as using floats. 
    Except I did not have to adjust the header's height because bootstrap's css automatically did that for me. */

    .hero {
        height: 400px;
    }

    .search-engine-optimization {
        height: 60%;
    }
    
    .online-reputation-management {
        height: 60%;
    }
    
    .social-media-marketing {
        height: 60%;
    }

}

/* Added additional constrains for when the screen is 579px wide */
@media screen and (max-width: 578px) {
    
    /* Had to increase the height of the header even more because of bootstrap. */
    .header {
        height: 200px;
    }

    .hero {
        height: 300px;
    }

    /* Had to made some adjustments to the title again because it was doing some funky stuff and overlapping when  */
    .onlinereptitle {
        width: 100%;
        padding-left: 50px;
    }

    /* No need to adjust the benefits section for this screen size as it was already adjusted at 972px. */
}

